body{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(228, 227, 227);
}

#container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.boxOne{
 width: 30%;
 margin: auto;
 border-radius: 10px;
 border: 1px solid rgb(121, 121, 121);
 background-color: white;
}
.boxTwo{
 width: 30%;   
 border-radius: 10px;
 width: 30%;
 margin: auto;
 background-color: white;
 border: 1px solid rgb(121, 121, 121);;
}
.boxThree{
    
 border-radius: 10px;
 background-color: white;   
 width: 30%;
 border: 1px solid rgb(121, 121, 121);;
 margin: auto;
}
.boxOne, .boxTwo, .boxThree{
    padding: 10px;
    text-align: justify;
   margin-top: 100px;

}